<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="1" parallel="tests">
    <listeners>
        <listener class-name="com.product.listeners.ListenerClass"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/deepak/automation/AdvAutomationFramework">
        <classes>
            <class name="com.product.tests.SampleTests">
            </class>
        </classes>
    </test>
</suite>